---
layout: default
title: News - CALab
permalink: /news/

hero_title: News
hero_bg_image: /assets/img/colliding_waveDM_halo.webp
---

<section id="recent_highlight">
    <div class="container">
        <h2 class="mb-4 border-bottom pb-2">Research Highlights</h2>
        {% for project_id in site.data.research_section.research_highlights %}
            {% assign project = site.projects | where: "slug", project_id | first %}
            {% if project %}
                {% include project_card.html project=project index=forloop.index %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<section id="recent_publications" class="pt-5">
    <div class="container">
        <h2 class="mb-4 border-bottom pb-2">Recent Publications</h2>
        {% for project_id in site.data.research_section.recent_publications %}
            {% assign project = site.projects | where: "slug", project_id | first %}
            {% if project %}
                {% include project_card.html project=project index=forloop.index %}
            {% endif %}
        {% endfor %}
    </div>
</section>