<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="text-align:left;">
                <span class="copyright">Copyright &copy; CA Lab 2023</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://github.com/gamer-project"><i class="fa-brands fa-github"></i></a>
                    </li>
                    <li><a href="#"><i class="fa-brands fa-slack"></i></a>
                    </li>
                    <li><a href="#"><i class="fa-brands fa-google"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4" style="text-align:right;">
                <div>
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
