<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ page.description | default: site.description }}">
<meta name="author" content="{{ site.author }}">

<title>{{ page.title | default: site.title }}</title>
<link rel="icon" type="image/x-icon" href="{{ '/assets/img/lab logo favicon.webp' | relative_url }}">

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!-- Custom Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<link href="{{ '/assets/fontawesome-free-6.5.1-web/css/all.min.css' | relative_url }}" rel="stylesheet">
