<nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-transparent" id="nav-bar">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/img/lab logo.webp' | relative_url }}" alt="CA Lab logo"
                class="img-fluid lab-navbar-logo" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto text-shadow-dark">

                <li class="nav-item">
                    <a class="nav-link" href="{{ '/news' | relative_url }}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/research/' | relative_url }}">Research</a>
                </li>
                <li class="nav-item dropdown dropdown-hover d-flex flex-wrap align-items-center">
                    <a class="nav-link pe-1" href="{{ '/members' | relative_url }}">Members</a>
                    <a class="nav-link ps-1 dropdown-toggle dropdown-toggle-split" href="#" id="membersDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </a>
                    <ul class="dropdown-menu shadow" aria-labelledby="membersDropdown">
                        {% for role in site.data.member_roles.roles %}
                        {% if role.id != 'previous' %}
                        <li>
                            <a class="dropdown-item" href="{{ '/members' | relative_url }}#{{ role.id }}-section">
                                {{ role.title }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{{ '/members/previous/' | relative_url }}">
                                Previous Members
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/publications' | relative_url }}">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/courses' | relative_url }}">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/useful' | relative_url }}">Useful</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/contact' | relative_url }}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>